@import "tailwindcss";

@theme static {
  --font-mono: var(--font-sf-mono);

  --color-dark-bg: oklch(0.27 0.01 257);
  --color-dark-fg: oklch(0.78 0.02 248);
  --color-dark-black: oklch(0.47 0.02 253);
  --color-dark-blue: oklch(0.68 0.15 255);
  --color-dark-cyan: oklch(0.76 0.12 202);
  --color-dark-green: oklch(0.67 0.14 144);
  --color-dark-magenta: oklch(0.7 0.16 301);
  --color-dark-red: oklch(0.7 0.16 26.1);
  --color-dark-white: oklch(0.69 0.03 250);
  --color-dark-yellow: oklch(0.69 0.13 79.1);
  --color-dark-bright-Bblack: oklch(0.53 0.02 253);
  --color-dark-bright-blue: oklch(0.76 0.13 250);
  --color-dark-bright-cyan: oklch(0.8 0.11 202);
  --color-dark-bright-green: oklch(0.74 0.15 144);
  --color-dark-bright-magenta: oklch(0.85 0.09 307);
  --color-dark-bright-red: oklch(0.78 0.13 25.6);
  --color-dark-bright-white: oklch(0.88 0.02 248);
  --color-dark-bright-yellow: oklch(0.76 0.13 83.9);
  --color-dark-selection-bg: oklch(0.78 0.02 248);
  --color-dark-cursor-bg: oklch(0.68 0.15 255);
  --color-dark-cursor-fg: oklch(0.68 0.15 255);
  --color-light-bg: oklch(1 0 0);
  --color-light-fg: oklch(0.25 0.01 254);
  --color-light-black: oklch(0.28 0.01 253);
  --color-light-blue: oklch(0.54 0.19 257);
  --color-light-cyan: oklch(0.54 0.08 202);
  --color-light-green: oklch(0.44 0.12 148);
  --color-light-magenta: oklch(0.56 0.21 295);
  --color-light-red: oklch(0.55 0.21 24.5);
  --color-light-white: oklch(0.57 0.02 251);
  --color-light-yellow: oklch(0.33 0.07 68.3);
  --color-light-bright-black: oklch(0.48 0.02 251);
  --color-light-bright-blue: oklch(0.64 0.2 255);
  --color-light-bright-cyan: oklch(0.61 0.09 218);
  --color-light-bright-green: oklch(0.52 0.14 148);
  --color-light-bright-magenta: oklch(0.67 0.19 297);
  --color-light-bright-red: oklch(0.46 0.18 21.9);
  --color-light-bright-white: oklch(0.67 0.02 251);
  --color-light-bright-yellow: oklch(0.39 0.09 68.9);
  --color-light-selection-bg: oklch(0.25 0.01 254);
  --color-light-cursor-bg: oklch(0.54 0.19 257);
  --color-light-cursor-fg: oklch(0.54 0.19 257);
}

@layer base {
  html,
  body {
    height: 100svh;
    overflow: hidden;
    background-color: var(--color-light-bg);
    color: var(--color-light-fg);
    font-family: var(--font-mono);

    @variant dark {
      background-color: var(--color-dark-bg);
      color: var(--color-dark-fg);
    }
  }

  p,
  a,
  h1,
  h2,
  h3,
  div {
    font-size: var(--text-xs);
    color: var(--color-light-fg);
    @variant dark {
      color: var(--color-dark-fg);
    }
  }

  a,
  h1,
  h2,
  h3 {
    /* text-transform: uppercase; */
  }
}
